<h1>Child Care for Essential Service Workers – Family &amp; Social Supports Forms</h1>

<ol>
  <li>Privacy Notice</li>
  <li>What Type of Work Do You Do?</li>
  <li>Your Child Care Requirements</li>
  <li>Your Contact Information</li>
</ol>

<!-- 1. Privacy Notice -->

<h2>Requesting a Child Care Space</h2>

<p>The information you provide will be sent to the closest Child Care Referral Resource Centre that you identify. They will contact you to arrange child care that meets your specific needs. A Child Care Resource Referral Centre is a contracted resource of the ministry and subject to the privacy legislation of the province. The information will be used by the Ministry of Children and Family Development to evaluate the effectiveness of ministry efforts to meet the child care needs of <a href="https://www2.gov.bc.ca/gov/content?id=0940F66B87B641909DFDE590435ABD81" target="new">essential workers</a>.</p>

<h2>Collection Notice</h2>

<p>The Ministry of Children and Family Development is collecting this information under sections 26(c)and 26(e) of the Freedom of Information and Protection of Privacy Act. The information collected will be used for planning child care services for essential workers as necessary for this or related purposes during the COVID crisis.</p>

<p>If you have any questions about the collection of this personal information, please email <a href="mailto:Kevena.Hall@gov.bc.ca">Kevena Hall</a>.</p>

<button>Next</button>

<!-- 2. What Type of Work Do You Do? -->

<h2>What type of work do you do? *</h2>

<p>Not sure what category you fit in? See the <a href="https://www2.gov.bc.ca/gov/content?id=0940F66B87B641909DFDE590435ABD81">detailed list of Essential Services</a>.</p>

<div><input type="radio"></input><label>Health & Health Services</label></div>
<div><input type="radio"></input><label>Law Enforcement / Public Safety / First Responders / Emergency Response Personnel</label></div>
<div><input type="radio"></input><label>Vulnerable Population Service Providers</label></div>
<div><input type="radio"></input><label>Critical Infrastructure Service Providers</label></div>
<div><input type="radio"></input><label>Food and Agriculture Service Providers</label></div>
<div><input type="radio"></input><label>Transportation / Infrastruture / Manufacturing</label></div>
<div><input type="radio"></input><label>Sanitation</label></div>
<div><input type="radio"></input><label>Communications / Information sharing / IT</label></div>
<div><input type="radio"></input><label>Non-Health Essential Service Providers</label></div>
<div><input type="radio"></input><label>Other</label></div>

<button>Previous</button><button>Next</button>

<!-- 3. Your Child Care Requirements -->

<h2>Your Child Care Requirements</h2>

<p>Tell us how many children you need child care for, where and when.</p>

<div>
  <label>Number of children under 36 months (infant / toddler) *</label>
  <input type="text" value="0">
  <span>Please enter a number frome <strong>0</strong> to <strong>10</strong>.</span>
</div>

<div>
  <label>Number of children aged 3 years through kindergarten *</label>
  <input type="text" value="0">
  <span>Please enter a number frome <strong>0</strong> to <strong>10</strong>.</span>
</div>

<div>
  <label>Number of children aged 5 years through 12 years *</label>
  <input type="text" value="0">
  <span>Please enter a number frome <strong>0</strong> to <strong>10</strong>.</span>
</div>

<p>Please enter at least one (1) child.</p>

<div>
  <label>The postal code where you live *</label>
  <input type="text" value="">
</div>

<div>
  <label>City where you need the child care provided *</label>
  <input type="text" placeholder="e.g. Surrey">
  <span>(This could be where you work, not necessarily where you live)</span>
</div>

<div>
  <label>Closest Child Care Referral office location *</label>
  <select>
    <option value='' selected='selected' class='gf_placeholder'>Please choose.</option>
    <option value='The Cariboo Family Enrichment Centre Society'>100 Mile House</option>
    <option value='Abbotsford Community Services'>Abbotsford</option>
    <option value='Sunshine Valley Child Care Society'>Boundary</option>
    <option value='YMCA of Greater Vancouver'>Burnaby</option>
    <option value='PacificCare Family Enrichment Society'>Campbell River</option>
    <option value='The Trail Family and Individual Resource Center Society'>Castlegar</option>
    <option value='Chilliwack'>Chilliwack</option>
    <option value='YMCA of Greater Vancouver'>Coquitlam</option>
    <option value='PacificCare Family Enrichment Society'>Courtenay</option>
    <option value='Clements Centre Society'>Cowichan Valley</option>
    <option value='Options Community Services Society'>Delta</option>
    <option value='Community Connections Society of SouthEast BC'>East Kootenay</option>
    <option value='Golden Community Resource Society'>Golden</option>
    <option value='Island Wellness Society'>Haida Gwaii</option>
    <option value='Hope and Area Transition Society'>Hope</option>
    <option value='Kamloops Community YMCA-YWCA'>Kamloops</option>
    <option value='Childhood Connections – Okanagan Family &amp; Childcare Society'>Kelowna</option>
    <option value='Langley Community Services Society'>Langley</option>
    <option value='Maple Ridge / Pitt Meadows Community Services'>Maple Ridge</option>
    <option value='Mission Community Services Society'>Mission</option>
    <option value='PacificCare Family Enrichment Society'>Nanaimo</option>
    <option value='YMCA of Greater Vancouver'>New Westminster</option>
    <option value='South Peace Community Resources Society [North]'>North Peace</option>
    <option value='North Shore'>North Shore</option>
    <option value='Penticton'>Penticton</option>
    <option value='Maple Ridge / Pitt Meadows Community Services'>Pitt Meadows</option>
    <option value='Young Men&#039;s Christian Association of Northern BC'>Prince George</option>
    <option value='Prince Rupert Association for Community Living'>Prince Rupert</option>
    <option value='New Focus Society'>Quesnel</option>
    <option value='Revelstoke Community Childcare Society'>Revelstoke</option>
    <option value='Richmond Cares, Richmond Gives Servcies Society'>Richmond</option>
    <option value='Sea to Sky Community Services Society'>Sea to Sky</option>
    <option value='Shuswap Children&#039;s Association'>Shuswap</option>
    <option value='Terrace Women&#039;s Resource Centre Society'>Skeena</option>
    <option value='The Bulkley Valley Child Development Centre Society'>Smithers</option>
    <option value='Sooke Family Resource Society'>Sooke</option>
    <option value='South Peace Community Resources Society [South]'>South Peace</option>
    <option value='Sunshine Coast Community Services Society'>Sunshine Coast</option>
    <option value='Options Community Services Society'>Surrey</option>
    <option value='The Trail Family and Individual Resource Center Society'>Trail</option>
    <option value='Westcoast Child Care Resource Centre'>Vancouver</option>
    <option value='Okanagan Boys and Girls Clubs'>Vernon</option>
    <option value='Victoria Single Parent Resource Centre Society'>Victoria</option>
    <option value='Kootenay Kids Society'>West Kootenay</option>
    <option value='Options Community Services Society'>White Rock</option>
    <option value='Contact Women&#039;s Group Society'>Williams Lake</option>
  </select>
</div>

<div>
  <label>When do you need child care to start? *</label>
  <input type="text" value="">
</div>

<button>Previous</button><button>Next</button>

<!-- 4. Your Contact Information -->

<h2>Your Contact Information</h2>

<p>Tell us who you are, what you do and how to contact you.</p>

<div>
  <label>First Name *</label>
  <input type="text" placeholder="e.g. Pat">
</div>

<div>
  <label>Last Name *</label>
  <input type="text" placeholder="e.g. Smith">
</div>

<div>
  <label>Phone *</label>
  <input type="text" placeholder="e.g. (250) 555-1234">
</div>

<div>
  <label>Email *</label>
  <input type="text" placeholder="e.g. pat.smith@example.com">
</div>

<button>Previous</button><button>Submit</button>
